.titre-tous-les-contacts{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    margin: 0px;
    padding-top: 50px;
}
.icons-update-contacts{
    display: flex;
    justify-content: space-between;
}


.tous-les-contacts{
    padding-left: 300px;
    .contact-editer{
        display: flex;
        justify-content: space-between;
        .avatar-editer{
            width: 250px;
            height: 250px;
        }
        .contact-editer-infos{
            font-family: 'Roboto', sans-serif;
            width: 500px;
           .contact-coordonnees{
               padding-bottom: 50px;
            .span-coordonees{
                padding-left: 20px;
            }
           
               .contact-coordonnees-haut{
               display: flex;
               justify-content: space-between;
               
               }
           }
           .icon-corbeille{
            font-family: 'Roboto', sans-serif;
            width: 30px;
            height: 30px;
            padding-top: 20px;
            position: relative;
            top: 10px;
        }
       
            .contact-changer-image{
                background-color: #649fba;
                color: white;
                border: 1px solid #649fba;
                font-size: 20px;
                border-radius: 5px;
                padding: 8px 20px 8px 20px;
            }
            .contact-changer-image:hover{
                background-color: white;
                color: #649fba;
                transition-duration: 1s;
                cursor: pointer;
            }
        }
    }
}

.bouton-supprimer{
    display: none;
}
.input-modif{
    position: relative;
    top: 8px;
}

.label-corbeille{
    font-family: 'Roboto', sans-serif;
    color: #ec5454;
 cursor: pointer;
 border: 1px solid #ec5454;
 border-radius: 8px;
 padding: 10px 30px 10px 30px;
}

.label-corbeille:hover{
    background-color: #ec5454;
    color: white;
    transition-duration: 1s;
}

.new-avatar-contact{
display: none;
}


.modifier{
    margin-left: 500px;
}

