.content__to-left, .content__to-right, .content__to-up, .content__to-scale {
    opacity: 0;
  }

   
  
  .is-inviewport .content__to-left {
      animation: toLeft 0.5s ease-in-out forwards;
      animation-delay: 0.3s;
      
    }
    .is-inviewport .content__to-opacity {
      animation: opacity 0.5s ease-in-out forwards;
      animation-delay: 0.3s;
      
    }


    .is-inviewport   .content__to-right {
      animation: toRight 0.5s ease-in-out forwards;
      animation-delay: 0.3s;
    
    }

    .is-inviewport  .content__to-up {
      animation: toUp 0.5s ease-in-out forwards;
      
    }

    .is-inviewport  .content__to-scale {
      animation: toScale 0.5s ease-in-out forwards;
      animation-delay: 0.3s;
     
    }
  
    @keyframes opacity {
      0% {
        opacity: 0;
      
      }
      100% {
        opacity: 1;
        
      }
    }
  

    @keyframes toRight {
      0% {
        opacity: 0;
        transform: translateX(-40%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    @keyframes toLeft {
      0% {
        opacity: 0;
        transform: translateX(40%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  
    @keyframes toUp {
      0% {
        opacity: 0.4;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes toScale {
      0% {
        opacity: 0;
        transform: scale(0.6);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }


    .is-small-menu{
      animation: menu 1.5s ;
      transform-origin: center;
      width: 70px ;
      height: 40px;
     
  }
  
  .is-normal-menu{
    transition-duration: 1.5s;
      height: 100px;
      width: 130px ;
      
  }

  .is-small-header{
    animation: header 1.5s ;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.95);
}
.is-normal-header{
  transition-duration: 1.5s;
    height: 120px;
}

@keyframes header {
  from {
   height: 120px ;
  }

  to {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.95);
    
  }
}
  @keyframes menu {
      from {
       width: 130px ;
       height: 80px;
      }
    
      to {
        height: 40px;
        width: 70px;
      }
    }