
.font-Architects{


  font-family: 'Architects Daughter', cursive;
       
}


input[type=button]:hover{
    transition-duration: 1s;
        background-color: #316379;
        cursor: pointer;
}

.button-ajouter:hover{
    transition-duration: 1s;
    background-color: #316379;
    cursor: pointer;


}
/*
.telecharger-documentation:hover{
    cursor: pointer;
    transition-duration: 0.8s;
    color: white;
    background-color: #649fba;
}
 */
.outer {
    margin: 50px;
  }
  .telecharger-documentation{
    border: 1px solid #649fba;
    border-radius: 3px;
    display: block;
    color: #649fba;
    font-family: 'Architects Daughter', cursive;
    background: linear-gradient(to right, #649fba 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  .lycee-dampierre-button {
    padding: 8px 13px 8px 13px;
    font-size: 20px;
    border: 1px solid #649fba;
    border-radius: 3px;
    display: block;
    color: #649fba;
    font-family: 'Architects Daughter', cursive;
    background: linear-gradient(to right, #649fba 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .telecharger-documentation:hover {
    background-position: left bottom;
    cursor: pointer;
    color: white;
  }
  @media screen  and (min-width: 960px ){
    .telecharger-documentation {
    width: 180px;
    height: 40px;
    font-size: 20px;
    }
  
}
@media screen  and (min-width: 0px ) and (max-width: 959px){
    .telecharger-documentation {
        width: 140px;
        height: 35px;
        font-size: 15px;
        }


}

  .lycee-dampierre-button:hover{
    background-position: left bottom;
    cursor: pointer;
    color: white;
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: white;  
  }


.update{
    
   
    border-radius: 5px;
   text-align: center;
    width: 180px;
    height: 42px;
    background: #649fba;
    border: 1px solid #649fba;
    font-size: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;

}
.new-doc, .new-image{
    
    margin-right: 30px;
    border-radius: 5px;
    text-align: center;
    width: 180px;
    height: 42px;
    background-color: #649fba;
    color: #649fba;
    border: 1px solid #649fba;
    font-size: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;

}





.update:hover{
    cursor: pointer;
    background-color: white;
    color: #649fba;
    transition-duration: 1s;
   

}


.input-mettre-a-jour{
    display: none;
}


.icon-check{
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-top:20px;
   
}
.icon-check:hover{
    transform: scale(1.3);
    transition-duration: 1s;
    cursor: pointer;
}
.label-icon-check:hover{
    background-color: #1d9360;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}
.label-icon-check{
    margin-top: 20px;
    color: #1d9360;
    border: 1px solid #1d9360;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
}

.marginTop{
    margin-top: 55px;
}
