input[type=button]:hover{
    transition-duration: 1s;
        background-color: #316379;
        cursor: pointer;
}

.button-ajouter:hover{
    transition-duration: 1s;
    background-color: #316379;
    cursor: pointer;


}
.telecharger-documentation:hover{
    cursor: pointer;
    transition-duration: 0.8s;
    color: white;
    background-color: #649fba;
}
.telecharger-documentation{
    width: 180px;
    height: 40px;
    background: none;
    border: 1px solid #649fba;
    font-size: 20px;
    color: #649fba;
    font-family: 'Architects Daughter', cursive;
}

.update{
    padding-top: 10px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 7px;
   text-align: center;
    width: 180px;
    height: 40px;
    background: #649fba;
    border: 1px solid #649fba;
    font-size: 20px;
    color: white;
    font-family: 'Architects Daughter', cursive;

}


.update:hover{
    cursor: pointer;
    background-color: white;
    color: #649fba;
    transition-duration: 1s;
   

}

.input-mettre-a-jour{
    display: none;
}

