
header{
    .update{
        margin-top: 20px;
        margin-right: 20px;
    }
}

.block{
    display: block;
}

.editer-informations-principales{
    padding-left: 300px;
    margin: auto;
    padding-top: 1px;
    width: 100vh;
  

    .trait-gris{
        width: 80%;
        height: 1px;
        margin: auto;
        background-color: #414143;
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .titre-editer{
        margin-top: 30px;
        text-align: center;
        font-size: 40px;
        font-family: 'Roboto', sans-serif;

    }
    .section-formations{
        margin: auto;
        justify-content: center;
      
       width: 100%;
        padding-left: 30px;

        .block-formation{
            margin: auto;
           justify-content: center;
        }
        .trait-bleu{
            height: 20px;
            width: 1px;
            background-color: #649fba;
            margin-right: 5px;
        }
        h3{
            
            font-size: 30px;
        font-family: 'Roboto', sans-serif;
        }
        .titre-formation{
display: flex;

padding-bottom: 10px;
padding-top: 30px;
        span{
            font-size: 20px;
            font-family: 'Roboto', sans-serif;
        }

    }
        textarea{
            font-family: 'Athiti', sans-serif;
            width: 600px;
            height: 150px;
            border-top: none;
            border-left: none;
            border-right: none;
        }

    
    }


    .titre-notre-role{

        text-align: center;
        font-size: 30px;
    font-family: 'Roboto', sans-serif;
    }
    .notre-role{

        

        .contenu-notre-role{
            margin: auto;
            width: 100%;
              display: flex;
              justify-content: space-around;
            .img-role{
                width: 400px;
                margin-right: 200px;
            }
            .text-role{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            .textarea-role{
                font-family: 'Athiti', sans-serif;
                width: 500px;
                height: 150px;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
    }
    }
    .titre-lycee-dampierre{
            text-align: center;
        font-size: 30px;
    font-family: 'Roboto', sans-serif;
    }
    .lycee-dampierre{
      padding-bottom: 200px;

      .contenu-lycee-dampierre{
        margin: auto;
        width: 100%;
          display: flex;
          justify-content: space-around;
          .img-dampierre{
              width: 400px;
              margin-right: 200px;
          }
          .text-dampierre{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
          .textarea-dampierre{
            font-family: 'Athiti', sans-serif;
            width: 500px;
            height: 150px;
            border-top: none;
            border-left: none;
            border-right: none;
        }
      }
    }
    }
}